name: Build WDA for TrollStore

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-14

    steps:
      - name: Checkout code
        uses: actions/checkout@v4 

      - name: Build WebDriverAgent
        run: |
          xcodebuild build-for-testing \
            -project WebDriverAgent.xcodeproj \
            -scheme WebDriverAgentRunner \
            -sdk iphoneos \
            -configuration Release \
            -derivedDataPath build \
            CODE_SIGN_IDENTITY="" \
            CODE_SIGNING_REQUIRED=NO \
            CODE_SIGNING_ALLOWED=NO

      - name: Create IPA
        run: |
          mkdir Payload
          # Ищем приложение
          find build/Build/Products -name "WebDriverAgentRunner-Runner.app" -exec cp -r {} Payload/ \;
          # Пакуем
          zip -r WDA_TrollStore.ipa Payload

      - name: Upload IPA
        uses: actions/upload-artifact@v4  # <--- ИСПРАВИЛ ТУТ (Было v3, стало v4)
        with:
          name: WDA_IPA
          path: WDA_TrollStore.ipa
